captum
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
lime
numpy
opencv-python
scikit-image
scikit-learn
scipy
seaborn
tensorboard
torch
torchvision
